<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.louise.lab">

    <application
        android:name="com.louise.base.base.BaseAP"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/lab_AppTheme">
        <activity android:name=".LabMainActivity"/>
        <activity android:name=".LabGuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LabViewActivity">
        </activity>
        <activity android:name=".module.test.LabTestActivity"/>
        <activity android:name=".LabRecyclerViewActivity"/>
    </application>

</manifest>