<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="princessmakeup.buykee.com.lab">

    <application
        android:name=".LabApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/lab_AppTheme">
        <activity android:name=".LabMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LabTransitionActivity">
        </activity>
        <activity android:name=".LabDrawableActivity">
        </activity>
        <activity android:name=".LabCanvasActivity">
        </activity>
    </application>

</manifest>