<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.louise.gank">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".GankAp"
        android:allowBackup="true"
        android:label="@string/gank_app_name"
        android:supportsRtl="true"
        android:theme="@style/gank_AppTheme">
        <activity android:name=".view.GankContactCreateActivity"/>
        <activity android:name=".GankGoodsNewActivity" />
        <activity android:name=".GankSplashActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".test.mvc.GankTestAutoWiredActivity"/>
        <activity
            android:name=".GankMainActivity"
            android:theme="@style/gank_AppTheme" />
        <activity android:name=".GankCameraActivity" />
    </application>

</manifest>